#weather
    padding: 100px 0
    .box
        background-color: #a4caff
        // padding: 22px 0
        border-radius: 20px
        width: 250px
        .data
            h1,h2
                color: #ffff
                font-size: 25px
                margin: 28px
        input
            border-radius: 20px
            height: 40px
            font-size: 13px
            padding: 5px 15px
            // margin-bottom: 28px
            // border: 2px solid #343e34
        #btn
            background-color: #79afff
            padding: 9px
            border-radius: 20px
            color: #ffff
            width: 110px
            margin: 28px auto 34px
            font-size: 20px
            &:hover
                cursor: pointer
                background-color: #F5CBA7
        ul
            display: flex
            justify-content: center
            li
                margin: 28px
                color: #ffff
                font-size: 25px
                margin-left: 15px
                
